@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1757922969722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiayonghu:before {
  content: "\f014d";
}

.icon-biaoqing:before {
  content: "\f00f5";
}

.icon-xuanzhuan:before {
  content: "\f011a";
}

.icon-31haoyou:before {
  content: "\f0226";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-lingcunwei:before {
  content: "\e666";
}

.icon-yuyuehuiyi:before {
  content: "\e64d";
}

.icon-shipin-m:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-chengyuan:before {
  content: "\e65c";
}

.icon-huiyi:before {
  content: "\e65f";
}

.icon-luzhi:before {
  content: "\e609";
}

.icon-dkw_luzhi:before {
  content: "\e603";
}

.icon-jiaruhuiyi:before {
  content: "\e60a";
}

.icon-zuixiaohua:before {
  content: "\e656";
}

.icon-zuidahua:before {
  content: "\e534";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-huanyuanhuabu:before {
  content: "\ec15";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-youjian_o:before {
  content: "\ebca";
}

.icon-nanren:before {
  content: "\e611";
}

.icon-nvren:before {
  content: "\e612";
}

.icon-24gl-micDisable:before {
  content: "\ea0b";
}

.icon-ziyuanxhdpi:before {
  content: "\e648";
}

.icon-sangedian:before {
  content: "\e608";
}

.icon-mima:before {
  content: "\e850";
}

.icon-liaotian:before {
  content: "\e619";
}

.icon-browse:before {
  content: "\e667";
}

.icon-bottom:before {
  content: "\e668";
}

.icon-arrow-double-left:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e669";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e688";
}

.icon-minus-bold:before {
  content: "\e689";
}

.icon-arrow-right-bold:before {
  content: "\e68a";
}

.icon-select-bold:before {
  content: "\e68b";
}

.icon-pingmugongxiang:before {
  content: "\e675";
}

.icon-guanbiluzhi:before {
  content: "\e61a";
}

.icon-zishiying:before {
  content: "\e64e";
}

.icon-kuaisukaishi:before {
  content: "\e602";
}

.icon-kuaisuhuiyi:before {
  content: "\e615";
}

.icon-kuaisuhuiyi1:before {
  content: "\e6a9";
}

.icon-shengyinluzhi-copy:before {
  content: "\e635";
}

.icon-layout-top:before {
  content: "\e6aa";
}

.icon-layout-right:before {
  content: "\e6ab";
}

.icon-layout-grid-2_2:before {
  content: "\e6ac";
}

