@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1754558218016') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiayonghu:before {
  content: "\f014d";
}

.icon-31haoyou:before {
  content: "\f0226";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-yonghu:before {
  content: "\e788";
}

.icon-yuyuehuiyi:before {
  content: "\e64d";
}

.icon-shipin-m:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e643";
}

.icon-huiyi:before {
  content: "\e65f";
}

.icon-luzhi:before {
  content: "\e609";
}

.icon-dkw_luzhi:before {
  content: "\e603";
}

.icon-jiaruhuiyi:before {
  content: "\e60a";
}

.icon-zuixiaohua:before {
  content: "\e656";
}

.icon-luzhi1:before {
  content: "\e606";
}

.icon-zuidahua:before {
  content: "\e534";
}

.icon-tianjiahaoyou_o:before {
  content: "\ebad";
}

.icon-youjian_o:before {
  content: "\ebca";
}

.icon-nanren:before {
  content: "\e611";
}

.icon-nvren:before {
  content: "\e612";
}

.icon-24gl-micDisable:before {
  content: "\ea0b";
}

.icon-ziyuanxhdpi:before {
  content: "\e648";
}

.icon-luzhi_luzhizhong_:before {
  content: "\e737";
}

.icon-luzhi_guanbiluzhi_:before {
  content: "\e738";
}

.icon-mima:before {
  content: "\e850";
}

.icon-browse:before {
  content: "\e666";
}

.icon-bottom:before {
  content: "\e667";
}

.icon-arrow-double-left:before {
  content: "\e665";
}

.icon-arrow-double-right:before {
  content: "\e668";
}

.icon-close:before {
  content: "\e669";
}

.icon-error:before {
  content: "\e66f";
}

.icon-arrow-left-bold:before {
  content: "\e685";
}

.icon-arrow-up-bold:before {
  content: "\e686";
}

.icon-close-bold:before {
  content: "\e687";
}

.icon-arrow-down-bold:before {
  content: "\e688";
}

.icon-minus-bold:before {
  content: "\e689";
}

.icon-arrow-right-bold:before {
  content: "\e68a";
}

.icon-select-bold:before {
  content: "\e68b";
}

.icon-pingmugongxiang:before {
  content: "\e675";
}

.icon-guanbiluzhi:before {
  content: "\e619";
}

.icon-kuaisukaishi:before {
  content: "\e602";
}

.icon-kuaisuhuiyi:before {
  content: "\e615";
}

.icon-kuaisuhuiyi1:before {
  content: "\e6a9";
}

.icon-shengyinluzhi-copy:before {
  content: "\e635";
}

